<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KJOMindCare"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.KJOMindCare">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

<!--            <intent-filter android:autoVerify="true">-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->

<!--                <data android:scheme="https" />-->
<!--                <data android:host="app.kjo-mind-care.com" />-->
<!--                <data android:host="kjo-mind-care.com" />-->
<!--                <data android:pathPrefix="/blog" />-->
<!--            </intent-filter>-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->

<!--                <data android:scheme="kjoapp" />-->
<!--                <data android:host="app.kjo-mind-care.com" />-->
<!--                <data android:host="kjo-mind-care.com" />-->
<!--                <data android:pathPrefix="/blog" />-->
<!--            </intent-filter>-->

<!--            <intent-filter android:autoVerify="true">-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->

<!--                <data-->
<!--                    android:host="kjo-mind-care.com"-->
<!--                    android:pathPrefix="/mood"-->
<!--                    android:scheme="https" />-->
<!--                <data-->
<!--                    android:host="app.kjo-mind-care.com"-->
<!--                    android:pathPrefix="/mood"-->
<!--                    android:scheme="kjoapp" />-->
<!--            </intent-filter>-->

<!--            <intent-filter android:autoVerify="true">-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->

<!--                <data-->
<!--                    android:host="kjo-mind-care.com"-->
<!--                    android:pathPrefix="/notifications"-->
<!--                    android:scheme="https" />-->
<!--                <data-->
<!--                    android:host="app.kjo-mind-care.com"-->
<!--                    android:pathPrefix="/notifications"-->
<!--                    android:scheme="kjoapp" />-->
<!--            </intent-filter>-->

            <!-- Intent filter para deeplinks WEB (verificación automática) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Tu dominio web -->
                <data android:scheme="https"
                    android:host="kjo-mind-care.com" />
            </intent-filter>

            <!-- Intent filter para deeplinks de la APP -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Tu esquema personalizado -->
                <data android:scheme="kjoapp"
                    android:host="app.kjo-mind-care.com" />
            </intent-filter>
        </activity>
    </application>

</manifest>